<%- include(viewDir + "/common/header.ejs") %>

<main>
    <section class="section section--shelves">
        <div class="container">
            <h1>
                Półki
            </h1>
            <% console.log(shelves) %>
            <div class="list list--list">
                <% for (const shelf of shelves){ %>
                    <a class="list__item shelf shelf--list-item"
                       href="/shelf/<%= shelf.id %>"
                    >
                        <img class="shelf__icon"
                             src="/images/960x960.png"
                             alt="Miniatura"
                        >
                        <span class="shelf__name">
                            <%= shelf.name %>
                        </span>
                        <span class="shelf__count">
                            <%= shelf.books.length %> pozycji
                        </span>
                    </a>
                <% } %>
            </div>
        </div>
    </section>
</main>

<%- include(viewDir + "/common/footer.ejs") %>

