<%- include(viewDir + "/common/header.ejs") %>
<main>
    <section class="section section--book">
        <% if (message) { %>
            <span>
            <%= message %>
        </span>
        <% } %>
        <form class="form form--book"
        <% if (data) { %>
              data-url="/book/<% data.id %>/edit"
        <% } else { %>
              data-url="/book/add"
                <% } %>
        >
            <h1><%= data ? "Edytuj" : "Dodaj" %> książkę</h1>
            <div class="container book book--full book--edit">
                <div class="book__cover">
                    <img src="/images/960x960.png"
                         alt="Okładka"
                    >
                </div>

                <div class="book__info">
                    <div class="field field--text">
                        <label class="field__label">
                            <span class="field__label__text visually-hidden">Tytuł</span>
                            <input class="field__label__input"
                                   placeholder="Tytuł"
                                   name="title"
                                   data-validate="required"
                                   type="text"
                                   value="<%= data ? data.title : "" %>"
                            >
                        </label>
                    </div>
                    <div class="field field--text">
                        <label class="field__label">
                            <span class="field__label__text visually-hidden">Data publikacji</span>
                            <input class="field__label__input"
                                   placeholder="Data publikacji"
                                   name="publicationDate"
                                   data-validate="required"
                                   type="date"
                                   value="<%= data ? data.publicationDate : "" %>"
                            >
                        </label>
                    </div>
                    <div class="field field--autocomplete">
                        <label class="field__label">
                            <%
                            let authorString = "";

                            if (data) {
                                data.authors.forEach(author => authorString += `${author.name} ${author.surname}, `)
                            }
                            %>
                            <span class="field__label__text visually-hidden">Autor</span>
                            <input class="field__label__input"
                                   placeholder="Autor"
                                   data-validate="required length"
                                   name="authors"
                                   type="text"
                                   value="<%= authorString %>"
                            >
                        </label>
                    </div>
                    <div class="field field--text">
                        <label class="field__label">
                            <span class="field__label__text visually-hidden">ISBN</span>
                            <input class="field__label__input"
                                   placeholder="ISBN"
                                   name="isbn"
                                   type="text"
                                   value="<%= data ? data.isbn : "" %>"
                            >
                        </label>
                    </div>
                </div>
                <div class="book__description">
                    <div class="field field--textarea">
                        <label class="field__label">
                            <span class="field__label__text">Opis</span>
                            <textarea class="field__label__input"
                                      name="description"
                            >
                <%= data ? data.description : "" %>
            </textarea>
                        </label>
                    </div>
                </div>
                <div class="field field--submit">
                    <input class="field__input button"
                           type="submit"
                           value="Zapisz"
                    >
                </div>
            </div>
        </form>
    </section>
</main>

<%- include(viewDir + "/common/footer.ejs") %>

