<%- include(viewDir + "/common/header.ejs") %>


<main>
    <% if (books){ %>
        <section class="section section--books section--background-light">
            <div class="container">
                <h1>
                    Popularne książki
                </h1>
                <div class="list list--block">
                    <% for (const book of books){ %>
                        <div class="list__item book book--list-item">
                            <img class="book__thumbnail"
                                 src="./images/960x960.png"
                                 alt="Miniatura"
                            >
                            <a class="book__title"
                               href="/book/<%= book.id %>"
                            >
                                <%= book.title %>
                            </a>
                            <% if (book.authors && Array.isArray(book.authors)) { %>
                                <% for (const author of book.authors) { %>
                                <a class="book__author"
                                   href="/author/<%= author.id %>"
                                >
                                    <%= author.name %> <%= author.surname %>
                                </a>
                                <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    <% } %>

    <section class="section section--authors">
        <div class="container">
            <h1>
                Popularni autorzy
            </h1>
            <div class="list list--block">
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
                <a class="list__item author author--list-item"
                   href="./templates/author.html"
                >
                    <img class="author__thumbnail"
                         src="./images/960x960.png"
                         alt="Miniatura"
                    >
                    <span class="author__name">Jan Nowak</span>
                </a>
            </div>
        </div>
    </section>

</main>

<%- include(viewDir + "/common/footer.ejs") %>

